﻿
body {
    background-image: url(../images/back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#white{
    color: #000000;
    font-style: italic;
    font-weight: bolder;
}
#blue{
    color: #ff0000;
    font-style: italic;
    font-weight: bolder;
    font-size: 150%;
    text-align: right;
}
.errorblock{
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding:8px;
    margin:16px;
}