body{
    /*IE6 :hover fix,
    more info at http://www.devinrolsen.com/fix-css-pseudo-hover/ */
    behavior:url(cssHoverFix.htc);
    font-family:"Times New Roman", Times, serif; font-size:18px;
}
/*Container***************************************************/
#navigation
{width:100%; height:30px; background:#999;}
/*First level menu****************************************/
#navigation ul
{
    margin:0px;
    padding:0px;
}
/*First level list items******************************/
#navigation ul li
{
    display:inline;
    float:left;
    height:30px;
    line-height:30px;
    list-style:none;
    margin-left:15px;
    position:relative;
}
/*First level anchor tags************************/
#navigation li a
{
    color:#7fffd4;
    text-decoration:black;
}
#navigation li a:hover
{
    text-decoration:underline;
}

/*Second level menu*****************************/
#navigation li ul
{
    background-color:#deb887;
    display:none;
    left:0px;
    margin:0px;
    padding:0px;
    position:absolute;
    top:30px;
}
#navigation li:hover ul
{
    display:block;
    width:160px;
}

/*Second level list items*******************/
#navigation li li
{
    list-style:none;
    display:list-item;
}

/*Second level anchors*****************/
#navigation li li a
{
    color:#fff;
    text-decoration:none;
}
#navigation li li a:hover
{
    text-decoration:underline;
}

/*
	The above CSS is for learning purposes ONLY! In a real stylesheet
	you would want to utilize much smaller and less frequest selectors.

	#nav {
		background:#999;
		width:100%;
	}
		#nav,#nav li { height:30px; }

		#nav ul {
			margin:0px;
			padding:0px;
		}
				#nav li {
					display:block;
					float:left;
					list-style:none;
					line-height:30px;
					margin-left:15px;
					position:relative;
				}
					#nav a {
						color:#fff;
						text-decoration:none;
					}
					#nav a:hover { text-decoration:underline; }

					#nav li ul { display:none; }
					#nav li:hover ul {
						background-color:#999;
						border-top: 1px solid #8F8E8E;
						display:block;
						left:0px;
						position:absolute;
						top:30px;
						width:160px;
					}

*/
